:root {
    --main-color: rgb(133, 208, 203);
    --secondary-color: #E27D60;
    --accent-color: #40B3A2;
    --tertiary-color: #E8A87C;
    --bonus-color: #824559;

}

body {
    background-color: var(--main-color);
    font-family: "Montserrat", sans-serif;

}

.home {
    background-color: var(--main-color);
    background: linear-gradient(rgba(76, 55, 62, 0.85),
            rgba(76, 55, 62, 0.85)), url("images/markus-spiske-qjnAnF0jIGk-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    font-family: "Montserrat", sans-serif;


}

.home .intro h2, h1 {
    color: white;
}

h2, h1
 {
    font-weight: bold;
    font-style: italic;
    font-size: 1em;
}

nav ul {
    list-style-type: none;
    margin: -.5em -.5em;
    padding: 0;
    overflow: hidden;
    background-color: white;
    z-index: 2;
    display: block;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: #97361C;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight:bold;
}

a {
    color: white;
    text-decoration: none;

}
.hidden{
    display:none;
}

nav ul li:hover {
    background-color: var(--tertiary-color);
    color: black;
}

nav ul li a:hover {
    color: black;
}

nav .current {
    background-color: var(--tertiary-color);
    color: black;
}

nav .current a {
    color: black;
}

a div:hover {
    opacity: .85;
}

footer {
    bottom: 0;
    margin: -.5em;
    margin-top: 3.5em;
    margin-bottom: -1em;
    text-align: center;
    padding: 2em 0em;
    background-color: var(--secondary-color);
    color: black;

}
.home-footer{
    position: absolute;
    width:100vw;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    text-align: center;

}

.project i {
    font-size: 3em;
    color: white;
    text-align: center;
    margin: auto;
}

.project {

    margin-top: 3em;
    background-color: var(--bonus-color);
    width: 7vw;
    height: 7vw;

    border-radius: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-content: center;
}

.project:hover {
    transform: scale(1.1);

}

.project-card {
    margin: 1em;
    width: 25vw;
    background-color: white;
    border-radius: 10px;
    font-size: 1em !important;
    padding: 1em;

}

.project-card p {
    margin: .5em;
    font-size: 1.5em;
}

.project-card h2 {
    font-size: 2em;
}

.web-projects,
.film-projects {
    margin: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.web-project,
.film-project {
    width: 58%;
    background-color: white;
    border-radius: 10px;
    margin: 1em;
    padding: 1em;
    text-align: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);


}

.web-projects p,
.film-projects p {
    width: 33%;
    font-size: 1.5em;
    margin: 1em;
}

.web-project img {
    width: 100%;
    margin: auto;
}

.web-project a {
    color: #97361C;
}

.section-title {
    font-weight: bold;
    font-style: italic;
    font-size: 1.3em;
    background-color: var(--secondary-color);
    color: white;
    padding: 0em .5em;

    border-radius: 10px;
}

.form {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: auto;
    margin-top: 4em;
}


.about-section {
    background-color: var(--accent-color);
    background-image: -webkit-linear-gradient(-30deg, var(--accent-color) 50%, var(--bonus-color) 50%);
    height: 100vh;

}

.about {
    margin: .5em !important;
}

.about-info {
    display: flex;
    justify-content: center;
    margin: 1em;
    padding: 1em;
    background-color: rgba(255, 255, 255, .8);
    width: 50%;
    color: black;
    font-size: 1.5em;

}

#education {
    float: left;

}
.contact-info, .resume{
    width: 100%;
    margin: auto;
    text-align: center;
    font-size: 2em;
}

#experience {
    float: right;
}

/** social media links **/

.social-media-link:hover {
    color: var(--secondary-color);
}

.social-media {
    float: right;
}

.social-media-link {
    margin: 1em;
    font-size: 2em;

    color: black;

    border-radius: 100%;
    transition: background-color 0.5s ease;
}

.main-content {
    margin-top: 1em;
}

.intro {
    font-size: 3em;
    text-align: center;
    margin: 1em 2em;
    background-color: var(--bonus-color);
    padding: .25em;
    border-radius: 5px;


}

.social-media-mobile {
    display: none;
    float: none;
    width: 100%;
    margin-top: 2em;
}

.photography-page {

    color: black;
    font-size: 1.5em;
    font-style: italic;

}


/**mobile navigation **/

.open-menu {
    display: none !important;
    font-size: 2em;
    margin: auto;

    z-index: 3;
    width: 100%;
    text-align: right;

}

.open-menu:hover {
    opacity: .8;
    cursor: pointer;
}

.close-menu {
    display: none;
}

.close-menu:hover {
    cursor: pointer;
}

.profile-pic {
    border-radius: 50%;
     max-width: 100%; 
     height: auto; 
    
    
}

#about-header,
.about-info {
    width: 90%;
    margin: auto;
    text-align: center;
    margin-top: 2em;
}

#nku-logo {
    margin: auto;
    display: block;
}

.graphics {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.graphics img {
    width: 30%;
    margin: .5em;
}


@media only screen and (max-width: 1041px) {
    .intro {
        font-size: 1em;
        text-align: center;

    }

    .project-card {
        display: block;
        width: 100%;
        font-size: .5em;
    }

    .project {
        width: 20vw;
        height: 20vw;
    }

    .project i {
        font-size: 3em;
        margin: auto;
    }

    .social-media {
        display: none;
    }

    .social-media-mobile {
        display: inline;
        margin-bottom: 2em;
       
        

    }

    .social-media-mobile i {
        font-size: 2em;
    }

    .social-media-mobile i:hover {
        color: black;
        cursor: pointer;
    }
    .social-media-link {
        margin: .25em;
        font-size: 1.5em;
    
        
    }

    nav ul {
        display: none;
    }

    nav ul li {
        width: 100%;
    }

    .open-menu {
        display: block !important;
        color: white;

    }

    .close-menu {
        display: block;
        text-align: center;
    }

    footer {
        position: unset;
    }
    .home-footer{
        position: unset;
    }

    .home {
        height: 200%;

    }

    .project-card {
        margin: auto;
        width: 90vw;
       
        margin-bottom: 1em;


    }


    .web-project,
    .film-project {
        width: 100%;
        background-color: white;
        border-radius: 10px;
        margin: auto;
    }

    .web-projects p,
    .film-projects p {
        width: 100%;
        font-size: 1.5em;
        margin: auto;
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .section-title {
        margin: auto;
        width: 90%;
        margin-top: 1em;

    }

    iframe {
        width: 100%;
    }

    .project i {
        font-size: 2em;
        color: white;
        text-align: center;
        margin: auto;
        
    }

    .project {

        margin-top: 3em;
        background-color: var(--bonus-color);
        width: 26vw;
        height: 26vw;
        border-radius: 100%;
        margin: auto;
        display: flex;
        justify-content: center;
        align-content: center;
    }

    .about-info {
        display: block;
    }

    .graphics img {
        width: 100%;
        height: 100%;
        
       


    }

}